@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@import "header.css";
@import "main.css";

*{
    margin: 0;
    padding: 0;
    text-decoration: none;

    /* variavel */
    --textoPrincipal:#000;
    --textoSecundario:#444;

    --backgroundPrimaria:#FFF;
    --backgroundSecundaria:#000;
}


body{
    height: 100vh;
    background-color: var(--background);
}